#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  width: 500px;
  background-color: rgb(236, 243, 241);
  padding: 1rem;
  border:solid 1px #888;
 
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #26769e;
  color: #feffff;
}

.pagination .active {
  background-color: lightgray;
  border-radius: 8px;
}

@media only screen and (max-width: 889px) {
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    gap: 5px;
  }

  .pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }

  .pagination .page-num:hover {
    background-color: #26769e;
    color: #feffff;
  }

  .pagination .active {
    background-color: lightgray;
    border-radius: 8px;
  }
}
.undone{
  width:4rem;
  color: red;
  border: solid 1px red;
 margin:1rem auto;
}
.completed{
  width:4rem;
  color: blue;
  margin:1rem auto;
  border: solid 1px blue;
}

.alert-danger{
  color: red;
  /* background-color: aqua; */
  font-weight: bold;
}
.alert-success{
  color: green;
  /* background-color: aqua; */
  font-weight: bold;
}
.singleItem{
  width:480px;
  display:flex;
  justify-content: space-between;
  background:lightGray;
  margin:5px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}
.singleItem:hover{
  background-color: #697d7d;
  /* transition: filter 9ms; */
}
.singleTask{
  display: flex;
  width:8rem;
  justify-content: space-between;
  width: 5rem;
}