#root {
  /* max-width: 1280px; */
  display: flex;
  /* margin:  auto auto auto auto; */
  padding: 0rem;
  margin: 0;
  text-align: center;
  justify-items: center;
  /* background-color: aqua; */
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 950px;
  min-height: 100vh;
 
} */
.App{
  /* margin: auto; */
  /* width: 100vw;
  height: 100vh; */
  background-color: rgb(236, 243, 241);
  padding: 0,5rem;
  justify-items: center;
  /* border:solid 1px #888; */
 
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #26769e;
  color: #feffff;
}

.pagination .active {
  background-color: lightgray;
  border-radius: 8px;
}

@media only screen and (max-width: 889px) {
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    gap: 5px;
  }

  .pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
  }

  .pagination .page-num:hover {
    background-color: #26769e;
    color: #feffff;
  }

  .pagination .active {
    background-color: lightgray;
    border-radius: 8px;
  }
}
.undone{
  width:4rem;
  color: red;
  border: solid 1px red;
 margin:1rem auto;
 border-radius:5px
}
.completed{
  width:4rem;
  color: blue;
  margin:1rem auto;
  border: solid 1px blue;
  border-radius:5px
}
.alertBackground{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(49, 46, 46) ;
  opacity: 0.8;
}
.alert-danger{
  /* margin-bottom: 2rem; */
  /* display: flex; */
  /* position: relative; */
  /* width: 300px; */
  /* height: 50px; */
  /* align-items: center; */
  /* justify-content: center; */
  /* border:1px solid red; */
  color: red;
  /* background-color: aliceblue; */
  /* box-shadow: 1px 1px 1px 2px GRAY; */
  /* background-color: aqua; */
  font-weight: bold;
  /* transition: width 2s linear  5s; */
  transition-duration: .6s;
  /* transform: translateY(-250%); */
  /* transform: translatex(-50%); */
  /* z-index: 4; */
  
}
.alert-success{
  color: green;
  /* background-color: aqua; */
  font-weight: bold;
}

.singleItem{
  width:880px;
  display:flex;
  justify-content: space-between;
  background:lightGray;
  margin:5px auto;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
}
.singleItem:hover{
  background-color: #2b3030;
  color:white;
  /* transition: filter 9ms; */
}
@media only screen and (max-width: 600px)
{
  .singleItem{
    display: grid;
    width:85vw;
    grid-template-columns: 2fr;
    margin: auto 1rem 1rem 1rem;
  }
}

.singleTask{
  display: flex;
  width:16rem;
  justify-content: space-between;
  
}
@media only screen and (max-width: 600px){
  .singleTask{
    width: 80vw;
    justify-content: center;
    margin: auto;
  }
}
.modeContainer{
  display: flex;
  width: inherit;
  justify-content: flex-end;
}
.darkMode{
  background-color: #697d7d;
}
.mode-btn{
  padding: 1px;
  width: 2rem;
height:2rem;
background-Color:transparent;
border: none;
/* button:focus-visible{border:none} */

}

.mode-btn:focus
.mode-btn:focus-visible {
  color:yellow;
  background-color: #bb0b22;
}
button{
  border: none;
}
button:focus,
button:focus-visible {
  color: #5b0ded;
  font-weight: 500;
  /* auto -webkit-focus-ring-color */
  ;
}
/* button:hover{
  border-bottom: 1px solid;
  border-color: #646cff;
} */
